@charset "utf-8";
main img {
    width: 25%;
    padding: 25px;
    float: right;
}
header img {
    width: 100%;
    height: auto;
}
html {
    background-image: url(backgroundimg.png); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body {
    font-family: Verdana, Geneva, sans-serif; 
    color: #333; 
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    text-shadow: 4px 6px 5px gray;
}
header {
  text-align: center;
  padding: 20px;
}
h2 {
    font-size: 1.3em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}
nav li {
    display: block; 
    width: 20%; 
    float: left; 
}
nav a {
    display: block;
    background-color: #333; 
    line-height: 2.8em; 
    text-decoration: none; 
    color: #fff; 
    text-align: center;
} 
nav a:hover {
    background-color: #ffd900a9; 
    color: #000;
    font-size: 1.2em; 
    transition: background-color 0.5s ease-in 0.2s, color 0.5s ease-in 0.2s, font-size 1s ease; 
}

main .float-right {
    float: right;
    margin-left: 15px; 
    margin-bottom: 10px;
  }
  

main {
    padding: 20px;
    margin-top: 70px;
}

body > footer {
    background-color: #333;
    color: rgba(102, 102, 102, 0.6);
    font-weight: bold;
    font-size: 0.9em;
    line-height: 3em;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    clear: both;
}

main ul {
  list-style-type: square;
}
@media only screen and (min-width: 769px) {
    body {
        background-image: url('backgroundimg.png');
        font-size: 16px;
        padding: 20px;
    }

    nav ul {
        display: flex;
    }

    .navicon {
        display: none;
    }

    .main-section {
        float: left;
        width: 75%;
    }

    .sidebar {
        float: right;
        width: 25%;
    }
}
@media only screen and (max-width: 768px) {

    body {
        width: 100%;
        margin: 0;
        padding: 5px 0;
    }
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #f4f4f4;
    }

    nav li {
        float: none;
        font-size: x-large;
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 15px;
        border-bottom: 1px solid black;
    }

    .navicon {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
    .main-section img {
        width: 90%;
        float: none;
        margin: 0 auto;
        display: block;
    }
}

.vacation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px 0;
}

.vacation-grid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 100%;
    padding: 10px;
    border-radius: 8px;
}

#image_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

area {
    cursor: pointer;
}
iframe {
    width: 100%;
    max-width: 560px; 
    height: auto; 
}




